*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    familia tipográfica: 'Langosta', cursiva;
    line-height: 1.5em;
    background-color: rgb(197, 28, 28);
}
.ContenedorPrincipal{
    max-width: 10000px;
    margin: 0 auto;
}
header{
    background-color: rgba(253, 177, 34, 0.842);
    overflow: hidden; 
    width: 100%;
}
header nav ul li{
    list-style: none;
    float: left;
}
header nav ul li a{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    color: #000000;
}
header nav ul li a:hover{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    background-color: #ca710c;
    color: white;
}
main{
    /*clear: both;*/
    background-color: white;
    width: 80%;
    float: left;
}
main img{
    max-width: 100%;
}
main section{
    padding: 5%;
}
main section{
    text-align: justify;
    margin-bottom: 16px;
}
main h1{
    margin-bottom: 20px;
}
aside{
    width: 20%;
    float: left;
    background-color: rgba(192, 104, 32, 0.562);
    padding: 30px;
}
aside ul li{
    text-decoration: none;
    color: #e0e2e6;
}
aside ul li:hover{
    color: #425067;
}
aside ul li{
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}
aside h4{
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
footer{
    width: 80%;
    clear: both;
    padding: 60px;
    background-color: #747172;
}
footer p{
    color: white;
    text-align: center;
}
@media screen and (max-width: 800px){
    main{
        width: 100%;
        display: block;
}
aside{
    width: 100%;
    display: block;
}
footer{
    width: 100%;
    display: block;
    }
}