*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
   
    font-family: 'Hurricane', cursive;
    line-height: 1.5em;
    background-color: #425067;
  }
  .contenedorPrincipal{
    max-width: 1000px;
    margin: 0 auto;
  }
  * {
    margin: 0px;
    padding: 0px;
  }
  nav {
  width:100%;
    display:flex;
      align-items: center;
    justify-content: center;
      background: rgb(255, 255, 255);
  }
  nav a {
  font-size: 14px;
    outline: none;
    text-decoration: none !important;
    text-transform: none;
    font-family: arial;
    transition: all .3s ease;
  }
  nav a:hover {
    color: rgb(168, 142, 76) !important;
  }
  nav img {
    margin-left:15px;
    margin-right: 15px;
  }
  main{
    /*clear: both;*/
    background-color: white;
    width: 70%;
    float: left;
  }
  main img{
    max-width: 100%;
  
  }
  main section{
    padding: 30px;
  }
  main section p{
    text-align: justify;
    margin-bottom: 16px;
  }
  main h1{
    margin-bottom: 20px;
  }
  aside{
    width: 30%;
    float: left;
    background-color:#25d6c8;
    padding: 30px;
  }
  aside ul li{
    text-decoration: none;
    color: black;
  }
  aside ul li:hover{
    color: #425067;
  }
  aside ul li{
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
  }
  aside h4{
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
  }
  footer{
    width: 70%;
    clear: both;
    padding: 60px;
    background-color: #e52f6e;
  }
  footer p{
    color: white;
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    main{
      width:100%;
      display:block;
    }
    aside{
      width: 100%;
      display:block;
    }
    footer{
      width: 100%;
      display: block;
    }
  }